* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
h1 {
    text-align: center;
    Padding: 10px;
    background-color: rgb(255, 242, 0);
    Color: white;
    margin-top: 20px;
} 

