/*reset default and important*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    text-align: center;
}

/*selector_type*/
h1 {
    font-family: calibri;
    font-size: 36px;
    text-align: center;
    color: antiquewhite;
    margin-top: 10px;
    padding: 10px,20px,10px,20px;
    background-image: url(banner.jpg);
    border-radius: 10px;
}

/*selector_class*/
.topnav ul {
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 5px;
    padding: 10px,20px,10px,20px;
    background-color: #b1d8f1;
    border-radius: 10px;
}

/*selector_id*/
#welcome p {
    font-size: 18px;
    color: #111111;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(224, 241, 246);
    opacity: 0.9;
}

.application-form {
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f4f4;
}

/*selector_attribute*/
[src*="kitchen.jpg"] {
    margin: 10px auto;
    max-width: 20%;
    height: 20%;
    width: 15%;
}
/*pseudo element*/
[src*="kitchen.jpg"]:hover {
    margin: 10px auto;
    max-width: 20%;
    height: 30%;
    width: 20%;
    transform: scale(1.4);
}
/*multiple selectors*/
.ready,.blockquote {
    font-size: 18px;
    color: #111111;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(224, 241, 246);
    opacity: 0.9;
}

.application-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(96, 96, 95)
}

/*nested selectors and pseudo class*/
.topnav ul li:hover {
    cursor: pointer;
    visted {
        color: purple;
    }
}

#company_intro video {
    margin: 10px auto;
    padding-top: 10px;
    max-width: 50%;
    height: 50%;
}

/*the box model*/
textarea {
    border: 2px solid #ccc;
    width: 300px;
    min-width: 100px;
    min-height: 200px;
    max-width: 300px;
    max-height: 400px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
    overflow: auto;
    background-color: #f0f0f0;
}